<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Codeage<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, localise_page_link("feed.xml", current_lang), title: "Atom Feed" %>

    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "syntax-highlights" %>
  </head>
  <body>

    <div id="main" role="main">
      <%= partial "partials/nav" %>

      <article>
        <h1><%= current_article.title %></h1>
        <%= yield %>
        <div class="metadata">
          <div class="date"><%= current_article.date.strftime('%b.%e %Y') %></div>
          <%= partial "partials/tags", :locals => { :tags => current_article.tags } %>
        </div>
      </article>

      <%= partial "partials/article-links", :locals => { :articles => blog.local_articles, :article => current_article } %>
      <%= partial "partials/footer" %>
    </div>

    <%= partial "partials/tracker" %>
  </body>
</html>
